#modalCarts {
    width: 500px;
}

.Cart-Items{
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-box{
    width: 15%;
    text-align: center;
}
.about{
    height: 100%;
    width: 39%;
}
.title{
    padding-top: 10px;
    line-height: 10px;
    font-size: 32px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
}
.subtitle{
    line-height: 10px;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #909090;
    margin-top: 25px;
}

.counter{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count{
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #202020;
}

.prices{
    height: 100%;
    text-align: right;
}
.amount{
    padding-top: 20px;
    font-size: 26px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
}
.save{
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #1687d9;
    cursor: pointer;
}
.remove{
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
}


.cart-btn{
    width: 40px;
    /*height: 40px;*/
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
    cursor: pointer;
}