<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Shopping</title>
    <th:block th:replace="layout/head :: head"/>
    <link rel="stylesheet" href="/assets/css/style-themes.scss9d45.css">
    <link rel="stylesheet" href="/assets/css/cart.css">
    <style>
        .fl {
            float: left;
        }

        .mgr-10 {
            margin: 10px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <header>
        <div class="row">
            <div class="col-sm-5">
                <h1>Shopping</h1>
            </div>
            <div class="col-sm-7">
                <ul class="list-unstyled topnav-menu float-right mb-0" style="float: right; margin-top: 5px;">
                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user mr-0" data-toggle="dropdown" href="#">
                            <img src="/assets/images/avatar_1.jpg" alt="user-image" class="rounded-circle">
                            <span class="pro-user-name ml-1">
                                  <i class="mdi mdi-chevron-down"></i>
                              </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                            <div class="dropdown-header">
                                <h6 class="text-overflow m-0">Welcome <span th:text="${username}" style="color: #ff9900"></span> !</h6>
                            </div>

                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fa fa-user"></i>
                                <span>Profile</span>
                            </a>

                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fa fa-cog"></i>
                                <span>Settings</span>
                            </a>

                            <div class="dropdown-divider"></div>

                            <a href="/logout" class="dropdown-item notify-item logout">
                                <i class="fa fa-sign-out"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>
                <a href="/products" class="btn btn-outline-light">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <span>List of products</span>
                </a>
                <ul class="list-unstyled topnav-menu float-right mb-0" style="float: right; margin-top: 5px;">
                    <li class="dropdown notification-list">
                        <a class="nav-link mr-0" id="btnShowCart" href="#">
                            <i class="fa fa-shopping-cart" aria-hidden="true" style="color: #fff;font-size: 35px;"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="mainHeader">
            <div class="header-wrap-action">
                <div class="header-action">
                    <div class="header-action-item">
                        <div class="header-action_dropdown hide" id="modalCarts">
                            <div class="header-dropdown_content">
                                <div class="sitenav-content sitenav-cart ">
                                    <div class="sitenav-content__title">
                                        <span id="close-cart">×</span>
                                        <p class="txt-title">Giỏ hàng</p>
                                    </div>
                                    <div class="sitenav-content__block cart-view">
                                        <div class="cart-view-scroll sitenav-boxscroll">
                                            <div class="table-clone-cart">
                                            </div>
                                        </div>
                                        <div id="cart-view-line" class="cart-view-line">
<!--                                            <div class="Cart-Items">-->
<!--                                                <div class="about">-->
<!--                                                    <h1 class="title">Apple Juice</h1>-->
<!--                                                    <h3 class="subtitle">$2.99</h3>-->
<!--                                                </div>-->
<!--                                                <div class="counter">-->
<!--                                                    <div class="cart-btn">+</div>-->
<!--                                                    <div class="count">2</div>-->
<!--                                                    <div class="cart-btn">-</div>-->
<!--                                                </div>-->
<!--                                                <div class="prices">-->
<!--                                                    <div class="amount">$5.98</div>-->
<!--                                                    <div class="remove"><u>Remove</u></div>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                        </div>
                                        <div class="cart-view-total">
                                            <div class="mini-cart">
                                                <div class="mini-cart__total">
                                                    <div class="mnc-total mnc-total-text">TỔNG TIỀN:</div>
                                                    <div class="mnc-total mnc-total-price" id="total-view-cart">42.330&nbsp;₫</div>
                                                </div>
                                                <div class="mini-cart__button">
                                                    <div class="mnc-cta">
                                                        <button id="btnCheckout" class="linktocart button btnred">Thanh toán</button>
                                                    </div>
                                                    <div class="mnc-cta">
                                                        <a class="linktocheckout button btnred" href="/gio-hang">Xem giỏ hàng</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="content" class="box-body">
        <div class="card fl mgr-10" style="width: 18rem;">
            <img src="https://res.cloudinary.com/toanphat/image/upload/c_limit,w_288,h_216,q_100/product_images/464663e2-db3a-4d25-b432-fd86ebfd43a6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>

    <footer id="footer">

    </footer>
</div>


<th:block th:replace="layout/script :: script"/>

<script src="/assets/js/app.base.js"></script>

<script>
    const page = {
        urls: {
            getAllProducts: AppBase.API_PRODUCT,
            getAllCartItems: AppBase.API_CART,
            checkout: AppBase.API_CART + '/pay',
            addCartItem: AppBase.API_CART + '/add-item',
            saveNewProduct: AppBase.API_PRODUCT
        },
        elements: {},
        commands: {},
        dialogs: {
            elements: {},
            commands: {}
        }
    }


    page.elements.btnShowCart = $("#btnShowCart");
    page.elements.modalCarts = $("#modalCarts");

    page.elements.content = $("#content");

    let isOpenCart = false;


    page.commands.getAllProducts = () => {
        $.ajax({
            type: "GET",
            url: page.urls.getAllProducts
        })
            .done((data) => {
                page.elements.content.empty();

                $.each(data, (i, item) => {
                    let str = AppBase.renderProductShopping(item);
                    page.elements.content.prepend(str)
                })

                page.commands.handleAddCart();
            })
            .fail((jqXHR) => {
                AppBase.showErrorAlert(AppBase.AlertMessageEn.ERROR_LOADING_PRODUCT);
            })
    }

    page.commands.handleAddCart = () => {
        $('.add-cart').on('click', function () {
            let productId = $(this).data("id");

            let obj = {
                productId,
                quantity: 1
            }

            page.commands.addCartItem(obj)
            .then(() => {
                AppBase.IziToast.showSuccessAlert('Thêm sản phẩm vào giỏ hàng thành công')
            })
            .catch(() => {
                AppBase.IziToast.showErrorAlert('Thêm sản phẩm vào giỏ hàng thất bại');
            });

        })

    }

    page.commands.addCartItem = (obj) => {
        return $.ajax({
            type: 'POST',
            headers: {
                'accept': 'application/json',
                'content-type': 'application/json'
            },
            url: page.urls.addCartItem,
            data: JSON.stringify(obj)
        })
    }

    page.commands.handleShowCart = () => {
        page.elements.btnShowCart.on('click', () => {

            page.elements.modalCarts.toggle("hide");

            if(!isOpenCart) {
                page.commands.getAllCartItems().then((data) => {
                    let items = data.items;
                    console.log(items)
                    $('#cart-view-line').empty();

                    $.each(items, (index, item) => {
                        let str = AppBase.renderCartItem(item);
                        $('#cart-view-line').append(str);
                    })
                });
            }

            isOpenCart = !isOpenCart;
        })
    }

    page.commands.handleCheckout = () => {
        $('#btnCheckout').on('click', () => {
            page.commands.checkout().then(() => {
                AppBase.IziToast.showSuccessAlert("Thanh toán giỏ hàng thành công");

                $('#cart-view-line').empty();
            }).catch(() => {
                AppBase.IziToast.showErrorAlert("Thanh toán giỏ hàng thất bại");
            });
        })
    }

    page.commands.checkout = () => {
        return $.ajax({
            type: 'POST',
            url: page.urls.checkout
        })
    }

    page.commands.getAllCartItems = () => {
        return $.ajax({
            type: 'GET',
            url: page.urls.getAllCartItems
        })
        .done((data) => {
            console.log(data)
        }).fail((error) => {
            console.log(error)
        })
    }

    page.commands.loadData = () => {
        page.commands.getAllProducts();
    }

    page.commands.initializeEventControl = () => {
        $("a.nav-user").on("click", function (event) {
            event.stopPropagation();
            $(".profile-dropdown").slideToggle(250);
        });

        $(document).on("click", function () {
            $(".profile-dropdown").hide();
        });

        page.commands.handleShowCart();

        page.commands.handleCheckout();

    }

    $(() => {
        page.commands.loadData();

        page.commands.initializeEventControl();
    })

</script>

</body>
</html>